*{
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Arial, sans-serif;
    text-decoration: none;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #171A21;
}
header, section{
    width: clamp(100px, 100%, 400px);
}
main{
    width: clamp(200px, 100%, 400px);
}
header{
    position: relative;
    text-align: center;
}
.header-container{
    margin: 25px 15px;
}
.header-container h1{
    font-size: clamp(3rem, 5.5vw, 5rem);
    color: #EC4E20;
    letter-spacing: 2px;
}
.header-container h3{
    font-size:clamp(1.5rem, 2.5vw, 2rem);
    color: #FAF8D4;
    letter-spacing: 2px;
}
.header-container h2 {
    color: #EBDCCB;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-5deg);

    background-color: #20A4F3;
    font-size:clamp(1rem, 2.5vw, 2rem);
    padding: 5px 15px;
    border-radius: 15px;
    text-wrap: nowrap;
    box-shadow: 5px 5px 50px rgba(255, 255, 255, 0.5);
    opacity: 0.9;
    animation: flicker 2s infinite alternate, nothing 4s infinite;
}
@keyframes flicker {
    0%, 20%, 60%, 80%, 100% { opacity: 1; }
    10% { opacity: 0.4; }
}
@keyframes nothing {
    /* nothing */
}

section{
    width: clamp(100px, 100%, 400px);
    margin: 0 auto;
}
.dropdown-container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.dropdown{
    width: clamp(100px, 100%, 400px);
}
.dropdown-listOfSections{
    min-width: 12em;
    position: relative;
    margin: 5px 15px;
    display: flex;
    gap: 10px;
    border: 5px solid #EC4E20;
}
.dropdown-listOfSections .select{
    background-color: var(--blue2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.5rem;
    padding: 10px;
    cursor: pointer;
    white-space: nowrap;
    letter-spacing: 1px;
}
.select-clicked{
    box-shadow: 0 0 1px #0F1B2E;
}
.caret{
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 12px solid #fff;
    transition: 0.3s;
}
.caret-rotate{
    transform: rotate(180deg);
}
.menu{
    list-style: none;
    padding: 5px 8px;
    border: 2px solid #EC4E20;
    background-color: #EC4E20;
    position: absolute;
    top: 40px;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    opacity: 0;
    display: none;
    transition: 0.2s;
}
.menu li{
    padding: 4px 7px;
    margin: 5px 0;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
}
.menu li:hover{
    background-color:  #F0F2A6;
    color: #000;
}
.menu .active{
    background-color: var(--font-color2);
}
.menu-open{
    display: block;
    opacity: 1;
}
.sched-container {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    padding: 0 15px;
}
.sched-container table{
    width: clamp(100px, 100%, 400px);
    border-collapse: collapse;
    margin-bottom: 20px;
}
.sched-container thead{
    background-color: #090C08;
    border: 1px solid #fff;
}
.sched-container th, table td{
    padding: 15px 10px;
    overflow: hidden;
    border-bottom: 1px solid rgba(254, 245, 239, 0.5);
    font-size: clamp(0.6rem, 2.5vw, 0.8rem);
    text-align: start;
}


.right-angle-bracket {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid white;
}
.left-angle-bracket {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid white;
}
.calendar-container{
    padding: 20px 10px;
    margin: 0px 5px 10px 5px;
    background-color: none;
    border: none;
}
.calendarTable {
    width: clamp(100px, 100%, 400px);
    border-collapse: collapse;
    margin-top: 15px;
    gap: 10px;
    table-layout: fixed;
    border-spacing: 7px;
    border: none;
}
.calendarTable thead{
    background-color: #090C08;
}
.calendarTable th, .calendarTable td {
    padding: 5px;
    text-align: center;
    height: 10px;
    font-size: 0.8rem;
    font-weight: 500;
    border: none;
}
.today {
    background-color: #EC4E20;
    color: white;
    font-weight: bold;
}
.faded {
    color: #aaaa;
}
#previousMonth, #nextMonth{
    background-color: transparent;
    border: none;
}
.calendar div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: none;
}
.calendar div #currentMonth{
    width: 170px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}